<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Chest X-Ray Classifier</title>
    <link href="https://cdn.bootcss.com/bootstrap/4.0.0/css/bootstrap.min.css" rel="stylesheet">
    <script src="https://cdn.bootcss.com/popper.js/1.12.9/umd/popper.min.js"></script>
    <script src="https://cdn.bootcss.com/jquery/3.3.1/jquery.min.js"></script>
    <script src="https://cdn.bootcss.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>
   
</head>

<body>
    <nav class="navbar navbar-dark bg-dark">
        <div class="container">
            <a class="navbar-brand" href=" ">Pocket-cxr</a>
        </div>
    </nav>
    <div class="jumbotron">
        <div id="content" style="margin-top:2em">
            <h1 style="align-items: center;"><strong>Is your chest Healthy?</strong></h1>
                <h2>Wanna check?</h2>
                <a href="index.html" class="btn btn-info" role="button">Click Here</a>
            </h1>
        </div>
    </div>
</body>



</html>